/* 
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;


*/
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --cream: #f2eae2;
  --gunmetal: #1c232b;
  --grey: #6c7289;
  --green: #3d8168;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cream);
  font-family: "Montserrat", sans-serif;
}

main {
  width: 90vw;
  max-width: 343px;
  background-color: white;
  border-radius: 0.5em;
  color: var(--grey);
}

.hero-img {
  display: flex;
  width: 100%;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.subheading {
  text-transform: uppercase;
  font-size: 0.8rem;
}

h1 {
  margin: 0.375em 0;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 1;
  color: var(--gunmetal);
}

.txt-content {
  display: flex;
  flex-direction: column;
  margin: 1.75em;
  line-height: 1.5;
  font-size: 0.875rem;
}

.prices {
  display: flex;
  align-items: center;
  margin: 1em 0;
  gap: 2em;
}

.discounted-price {
  font-size: 2rem;
  color: var(--green);
  font-family: "Fraunces", serif;
}

.original-price {
  text-decoration: line-through;
}

.cart-btn {
  display: flex;
  gap: 1em;
  padding: 1.25em 7em;
  font-size: 0.8rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5em;
  background-color: var(--green);
  color: white;
}

@media (min-width: 768px) {
    main {
        min-width: 600px;
        max-height: 450px;
        flex-direction: row;
    }
    .hero-img {
        display: flex;
        border-top-right-radius: 0;
        min-height: 450px;
        max-width: 300px;
        border-bottom-left-radius: 0.5em;
    }

    .txt-content {
      margin: 1em;
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 50%;
    }

    .cart-btn {
      gap:0.5em;
    }
}
